<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Favorites
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Favorites</ion-title>
    </ion-toolbar>
  </ion-header>

  @if (storageService.getLocalArticles.length === 0) {

    <ion-grid fixed>
      <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100%;">
        <ion-col size="auto" class="ion-text-center">
          <ion-icon name="heart-dislike-outline" color="medium" style="font-size: 64px;"></ion-icon>
          <h3>No Favorites</h3>
          <p color="medium">You haven't added any articles yet.</p>
        </ion-col>
      </ion-row>
    </ion-grid>

  } @else {

    <app-articles [articles]="storageService.getLocalArticles"></app-articles>

  }

</ion-content>
